//-footer.pug
- 
  var nav = {
    'Home':'index.html',
    'About Us':'about-us.html',
    'Services':'services.html',
    'Portfolio':'index.html#portfolio',
    'Blog':'blog.html',
    'Contact Us':'contact-us.html'};  

footer.container.pt-5
  .row.footer
    nav.footer_nav.col-md
      ul.nav
        each value, key in nav
          li.nav-item
            a.nav-link.px-0.mx-2(href= value)= key
    p.col-md-auto.py-2 Created by akhouad 2016. All Rights Reserved
  .row.social.mt-2.mb-5
    .col-auto.ml-auto
      include ./_social-icons