//- _hero-home.pug
.row.text-center.justify-content-center.align-items-center.hero-container
  .col-xl-6.col-lg-8.col-md-10.my-md-0.my-5
    .col-auto.home__superscription we're
    h1.col-auto.home__title Creative agency
    p.home__description.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
