//- _hero-home.pug
.row.text-center.justify-content-center.align-items-center.hero-container
  .col-xl-6.col-lg-8.col-md-10
    .col-auto.we-are we're
    h1.title-header.title-header__home Creative agency
    .description-header.description-header__header
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
