.container.mb-5.history
  .row
    .col-md-5.text-md-center
      img.card-img.rounded-0(src='img/history.jpg', alt='table')
    section.col-md-6.offset-1.d-flex.flex-column
      h1.title History of agency
      p.description Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt ut labore.
      button.btn.btn-primary.align-self-end.rounded-0.button(type='button') read more
