//- menubar.pug
.row.menu
  nav.navbar.navbar-expand-md.navbar-light.col
    a.menu__logo.navbar-brand(href='./index.html') AKAD.
    button.navbar-toggler.border-0(data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.menu__icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.menu__drop.navbar-nav.ml-md-auto.align-items-end
        li.nav-item.active
          a.nav-link(href='./index.html') Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='./about-us.html') About Us
        li.nav-item
          a.nav-link(href='./services.html') Services
        li.nav-item
          a.nav-link(href='./index.html#portfolio') Portfolio
        li.nav-item
          a.nav-link(href='./blog.html') Blog
        li.nav-item
          a.nav-link(href='./contact-us.html') Contact Us