//- menubar.pug
.row
  nav.navbar.navbar-expand-md.navbar-light.col
    a.logo.navbar-brand(href='#') AKAD.
    button.navbar-toggler(data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ml-md-auto.align-items-end
        li.nav-item.active
        a.nav-link(href='#') Home 
          span.sr-only (current)
        li.nav-item
        a.nav-link(href='#') Contact Us
        li.nav-item
        a.nav-link(href='./services.html') Services
        li.nav-item.dropdown
        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Dropdown link
        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownMenuLink')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
