extends ./index

block title
  title About Us

block content
  - 
    var benefits = {
      'fully responsive': './img/svg-icons.svg#iphone',
      'unlimited options': './img/svg-icons.svg#ios-infinite-outline',
      'wordpress': './img/svg-icons.svg#social-wordpress-outline',
      'e-commerce': './img/svg-icons.svg#ios-cart-outline',
      'customizable design': './img/svg-icons.svg#ios-settings',
      'support': './img/svg-icons.svg#settings',
    };
    var faces = [
      './img/teammate-1.jpg',
      './img/teammate-2.jpg',
      './img/teammate-3.jpg',
      './img/teammate-4.jpg',
      './img/teammate-5.jpg',
      './img/teammate-6.jpg',
      './img/teammate-7.jpg',
      './img/teammate-8.jpg'
    ]
    var products = [
      './img/product-1.png',
      './img/product-2.png',
      './img/product-3.png',
      './img/product-4.png',
      './img/product-5.png',
      './img/product-6.png'
    ]


  include ./blocks/_hero

  +hero('About us', 'About')

  .container.mt-5.py-5
    section.row
      .col-md-6
        h2.title About Us
        p.description.text-uppercase We are awesome
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      .col-md-6
        h2.title What we do
        p.description.text-uppercase creative & digital
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
    section.benefit.py-5
      header.row.my-5
        .col.text-center
          h2.title Some benefits
          p.col-lg-8.mx-auto.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .row
        each img, title in benefits
          .col-lg-4.col-md-6
            h3.text-uppercase
              svg.benefit__icon.p-1.m-1
                use(xlink:href= img)
              |  #{title}
            p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In eleifend suscipit enim, eu commodo neque molestie vitae.
    section.team.py-5
      header.row.my-5
        .col.text-center
          h2.title The dream team
          p.col-lg-8.mx-auto.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .row
        each img in faces
          .col-lg-3.col-md-4.col-sm-6.mb-4
            .team__card.card.border-0.rounded-0
              img.team__img.card-img.rounded-0(src= img)
      footer.row.custom-bg.align-items-center
        .col.font-italic
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
        .col-auto
          a(href='#').btn.btn-primary.rounded-0.button read more
    section.py-5
      .row
        .col-md-6.text-center.mb-5
          div: img.rounded-circle(src="./img/roundface.png")
          p.my-3 Quisque iaculis lorem vestibulum eros vehicula, non congue elit dictum. Donec mollis aliquet lorem, eu porttitor sapien semper in. Duis ac erat luctus, gravida lectus sit amet, consectetur orci. Suspendisse libero mauris.
          button(href='#').btn.rounded-0.button John Doe
          .pointers.mx-auto
            - for (var x = 0; x < 4; x++)
              if x == 0
                a.pointers_item.pointer-active
              else
                a.pointers_item
        .col-md-6
          .logo-works.row.card-deck.flex-row
            each src in products
              .col-4.px-0.mb-4
                .logo-works__card.card.rounded-0.p-2
                  img.logo-works__img.rounded-0(src= src)


