$color-font: #60606e;
$color-primary: #7beec7;

@mixin font-secondary($size: 0.875rem, $lineHeight: 1, $weight: 700) {
    font: $weight $size#{'/'}$lineHeight 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
}

// common styles
body {
    font-family: 'Open Sans', sans-serif;
    color: $color-font;
}
.ul-none {
    list-style: none;
}
.check-bullet {
    width: 1rem;
    height: 1rem;
    fill: $color-primary;
    vertical-align: middle;
}

* {
    transition: box-shadow 0.1s;
}

// used for layout positioning
.header {
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 6rem;
}

.title {
    display: inline-block;
    @include font-secondary(1.875rem, 1.6);
    text-transform: uppercase;
    background-image: linear-gradient(to top, $color-primary, $color-primary);
    background-repeat: no-repeat;
    background-size: 4.25rem 1.3rem;
    background-position: bottom left;
    &--bg-none {
        @include font-secondary(2.2rem, 1.8);
        background: none;
    }
    &--form {
        @include font-secondary(1.5rem, 2.25);
        text-transform: uppercase;
    }
    &--inverted {
        color: white;
    }
}
.description {
    line-height: 1.875rem;
    &--hero {
        @include font-secondary(0.875rem, 1);
    }
}
.button {
    @include font-secondary(.875rem);
    padding: 1.0625rem 2.5rem;
    text-transform: uppercase;
    border-color: $color-primary;
    background-color: $color-primary;
    color: white;
    &--wide {
        padding: 1.0625rem 3.75rem;
    }
    &:hover {
        background-color: darken($color-primary, 25%);
        border-color: darken($color-primary, 25%);
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem lighten($color-primary, 10%);
    }
    // for overwrite bootstrap styles and don't use !important 
    &:not(:disabled):not(.disabled):active {
        background-color: darken($color-primary, 50%);
        border-color: darken($color-primary, 50%);
    }
    &--inverted {
        @include font-secondary(0.875rem);
        padding: 1.0625rem 2.5rem;
        text-transform: uppercase;
        color: $color-primary;
        background-color: white;
    }
}

// specific styles

// menubar block
.menu {
    // pixel-perfect
    margin-top: 2px;
    &__logo {
        @include font-secondary(1.125rem);
    }
    &__icon {
        text-align: start;
        line-height: 0;
        font-size: 0;
        display: inline-block;
        width: 31px;
        height: 1px;
        background: #60606e;
        margin: 0;
        position: relative;
        &::before, 
        &::after {
            display: inline-block;
            content: '';
            height: inherit;
            background: inherit;
        }
        &::before {
            width: calc(100% / 2);
            margin: 7px 0 6px;
        }
        &::after {
            width: calc(100% * 2 / 3);
        }
    }
    &__drop {
        @include font-secondary(1rem);
        text-transform: uppercase;
        @media screen and (max-width: 47.95rem) {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.8);
            right: 15px;
            padding: 15px;
            padding-left: 2rem;
            z-index: 2;
        }
    }
}
.collapsing {
    transition: none;
    // display: none;
    position: absolute;
}

// hero block
.hero {
    &-container {
        height: 80%;
    }
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    height: 31.25rem;
}

// contact-footer block
.contact {
    background-color: $color-primary;
    &__form {
        background-color: white;
        padding: 20px;
    }
    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.input-main {
    @include font-secondary(0.875rem);
    padding: .9375rem 1.25rem;
    text-transform: uppercase;
    &:placeholder {
        @include font-secondary(0.875rem);
        // line-height: 10px;
        color: lighten($color-font, 25%)
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem lighten($color-primary, 10%);
    }
}

// footer block
.footer {
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1;
    &_nav {
        & .nav-item:not(:first-child)::before {
            display: inline;
            content: '•';
        }
        & .nav-link {
            color: $color-font;
            display: inline-block;
        }
    }
}
.social {
    &_item {
        fill: $color-font;
        height: 18px;
        width: 18px;
    }
    &_link {
        font-size: .8rem;
        vertical-align: top;
    }
}

// hero-home block
.home {
    &__bg {
        background: url(../img/hero-bg-home.jpg);
        background-size: cover;
        @media all and (min-width: 48rem) {
            height: 53rem;
        }
    }
    &__superscription {
        display: inline-block;
        @include font-secondary(1.125rem);
        background: $color-primary;
        padding: 5px 10px;
        text-transform: uppercase;
    }
    &__title {
        @include font-secondary(3rem, 1);
        text-transform: uppercase;
        border: .5rem solid;
        padding: 1.25rem;
    }
    &__description {
        line-height: 1.5;
    }
}

// history block
.history {
    margin-top: 3rem;
    @media all and (min-width: 48rem) {
        margin-top: -18.75rem;
    }
}

// why us block
.why {
    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $color-font;
    }
    &__title {
        @include font-secondary(0.875rem);
        text-transform: uppercase;
    }
    &__item {
        font-size: 0.875rem;
    }
}

// portfolio block
.btn-categories > button {
    @include font-secondary(0.875rem);
    background-color: transparent;
    color: $color-font;
    padding: .5rem 1.25rem;
    text-transform: uppercase;
    // for overwriting bootstrap style
    &:not(:disabled):not(.disabled) {
        &:active, &.active {
            color: white;
        }
    }
    &:hover {
        background-color: $color-primary;
        color: white;
    }
    &:active {
        background-color: $color-primary;
        color: white;
    }
}
.cards-container {
    @media all and (max-width: 36rem) {
        column-count: 2;
    }
    & .card {
        @media all and (max-width: 36rem) {
            display: inline-block;
        }
    }
}

// about-us page
.benefit {
    &__icon {
        height: 1.5em;
        width: 1.5em;
        vertical-align: middle;
        background-color: $color-primary;
        fill: white;
        display: inline-block;
        box-sizing: content-box;
    }
}
.team {
    &__card {
        height: 21rem;
    }
    &__img {
        height: 100%;
        object-fit: cover;
    }
}
// only once on the about-us page
.custom-bg {
    padding: 3.125rem 2rem;
    background-color: lighten($color-primary, 20%);
}
.logo-works {
    &__card {
        height: 100%;
    }
    &__img {
        height: 100%;
        object-fit: contain;
    }
}
.pointers {
    width: 10rem;
    height: .25rem;
    &_item {
        display: inline-block;
        width: 16%;
        height: 100%;
        margin: 1%;
        background-color: $color-font;
        &.pointer-active {
            width: 36%;
            background-color: $color-primary;
        }
    }
}

// services page
.service {
    &__item {
        width: 4rem;
        height: 4rem;
        background-size: 2.5rem 1.3rem;
    }
}
.price {
    &__card {
        &:hover {
            box-shadow: 0 0 1rem .5rem lighten($color-primary, 10%);
        }
        &::before,
        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            box-sizing: border-box;
        }
        &::before {
            background-color:  $color-primary;
            height: 0.375rem;
            width: 100%;
        }
        &::after {
            width: 1rem;
            height: 1rem;
            border: 1rem solid black;
            border-color: $color-primary transparent;
            border-right: none;
            border-bottom: none;
        }
    }
    &__value {
        color: white;
        background-color: $color-primary;
        display: inline-block;
        padding: 0.25rem 1.5rem;
    }
}

// blog page
.post {
    &__text {
        padding-left: 0;
        padding-right: 0;
    }
    &__title {
        @include font-secondary(1.125rem);
        text-transform: uppercase;
    }
    &__info {
        @include font-secondary(.8rem);
        text-transform: uppercase;
    }
    &__date {
        color: white;
        background-color: $color-primary;
        display: inline-block;
        padding: 0.5rem 1.5rem;
        // margin-right: 1.5rem;
    }
    &__summary {
        font-size: .875rem;
        line-height: 1.71;
    }
    &__icon,
    &__icon--comments,
    &__icon--likes,
    &__icon--arrow {
        width: 1rem;
        height: 1rem;
        fill: $color-font;
        vertical-align: middle;
    }
    &__icon--likes {
        fill: #ea6a6a;
    }
    &__link {
        @include font-secondary(.875rem);
        text-transform: uppercase;
        color: $color-font;
    }
}
.aside {
    &__search {
        background-color: #ececec;
        @include font-secondary(.75rem);
        text-transform: uppercase;
        padding: 1rem .875rem;
    }
    &__title {
        text-transform: uppercase;
        @include font-secondary(.875rem);
    }
    &__tabs {
        text-transform: uppercase;
        font-size: .5rem;
        @include font-secondary(.75rem);
        border: none;
        display: flex;
        justify-content: space-between;
        .nav-item {
            flex-grow: 1;
            text-align: center;
        }
        .nav-link {
            overflow: hidden;
            color: $color-font;
            border: none;
            border-color: transparent;
            background-color: transparent;
            border-bottom: .125rem solid $color-primary;
            &.active {
                border: none;
                border-bottom: .125rem solid darken($color-primary, 10%);
            }
        }
    }
    &__badge {
        text-transform: uppercase;
        @include font-secondary(.75rem);
        background-color: $color-primary;
        color: $color-font;
        padding: .5rem 1.5rem;
        margin: 0 .25rem .25rem 0;
    }
    &__category {
        font-size: .875rem;
        line-height: 1.3;
    }
}
// tab content styling
.ti-title {
    text-transform: uppercase;
    @include font-secondary(0.875rem);
}
.ti-date {
    font-size: .875rem;
}
.overflowed {
    overflow: hidden;
}

// contact-us page
.form-input {
    @include font-secondary(.75rem);
    text-transform: uppercase;
    padding: 1rem .875rem;
    &:placeholder {
        @include font-secondary(0.875rem);
        color: lighten($color-font, 25%)
    }
    &:focus {
        box-shadow: 0 0 0 0.1rem lighten($color-primary, 10%);
    }
}
.address{
    &__title {
        @include font-secondary(1.1rem);
        text-transform: uppercase;
    }
    &__description,
    &__post {
        line-height: 1.8;
    }
    &__link {
        color: $color-font;
    }
}
#map {
    min-height: 500px;
}
